<footer>
    {{!-- Top Left - SLF Logo --}}
    <div>
        <p><span id="slf-logo">Santana La Familia</span></p>

    {{!-- Top Right - Social Media Icons --}}
         <ul>
            <li>Tw</li>
            <li>IG</li>
            <li>FB</li>
        </ul>
    </div>

    {{!-- Middle Right - Policy --}}
    <div>
        <p>Privacy Policy</p>
    </div>

    {{!-- Bottom Address --}}
    <div>
        <ul>
            <li>Melrose Place, 90210, <br> USA</li>
            <li>Santana La Familia © 2020 new date</li>
            <li>Terms of Service</li>
        </ul>
    </div>
</footer>