

<footer>
    <a class="footer__logo" style="text-decoration: none;" href="#">
        Santana La Familia
    </a>

    <div class="footer__social">
        <a href="#">
            <img src="./images/icons8-twitter.png" alt="Twitter">
        </a>

        <a href="#">
            <img src="./images/icons8-instagram.png" alt="Twitter">
        </a>

        <a href="#">
            <img src="./images/icons8-facebook.png" alt="Twitter">
        </a>
    </div>

  

    <div class="footer__links col2">
        <a href="#">About Us</a>
        <a href="#">Support</a>
        <a href="#">Privacy policy</a>
    </div>

      <div class="footer__links col1">
        <a href="#">Santana La Familia © 2020 new date</a>
    </div>
</footer>