

<footer>
    <a class="footer__logo" style="text-decoration: none;" href="#">
        Santana La Familia
    </a>

    <div class="footer__social">
        <a target="_blank" href="https://twitter.com/santanaincorp">
            <img src="./images/icons8-twitter.png" alt="Twitter">
        </a>

        <a target="_blank" href="https://www.instagram.com/santanalafamilia/">
            <img src="./images/icons8-instagram.png" alt="Instagram">
        </a>

        <a target="_blank" href="https://www.facebook.com/Santana-La-Familia-110238117443269">
            <img src="./images/icons8-facebook.png" alt="Facebook">
        </a>
    </div>

  

    <div class="footer__links col2">
        <a id="col2_link1" href="#">About Us</a>
        <a id="col2_link2" href="#">Support</a>
        <a id="col2_link3" href="#">Privacy policy</a>
    </div>

      <div class="footer__links col1">
        <a href="#">d</a>
        <a href="#">d</a>
        <a href="#">Santana La Familia © {{ date }} </a>
    </div>


</footer>