<img id="banner" src="../images/Desktop_VS_CODE4@2x.jpg" alt="">
<section class="bg-before-testimonial">
    
    <figure>
<img class="second_icon" src="../images/male-icon.svg" alt="">
<br>
        <figcaption>Since our opening, we have become masters of 
our craft. Our  commitment to quality products, 
exceptionalities, services and incomparable customer 
care keep our community coming back and back again.</figcaption>
  </figure>

  <figure>
    <img class="second_icon" src="../images/email-icon.svg" alt="">
    <br>
        <figcaption>Be the first to know about our new product launches, 
 pre-launches, latest news and events by signing up 
for our newsletter.</figcaption>
</figure>

<figure>
    <img src="../images/phone-icon.svg" alt="">
    <br>
        <figcaption>Positive reviews from awesome customers like you 
help others to feel confident about choosing 
Santana  La Familia too. Could you take 60 seconds to
 go to our contact section and share your happy 
experiences.</figcaption>
</figure>
</section>

<section class="bg-testimonial">
    <figure>
        <img src="../images/jessica.png" alt="">
        <br>
        <figcaption>
        “Absolutely brilliant company, the 
        quality of their work is very high.
        Service is excellent, they couldn’t be 
        more helpful in assisting me and my 
        company. I highly recommend them.”
        </figcaption>
        <br>
        <em>-&nbsp;Jessica Beck</em>
    </figure>

      <figure>
        <img src="../images/eric.png" alt="">
        <br>
        <figcaption>
        “I am very happy with the products I
        received, that came very quickly and
        everyone that I got them for loved them.”
        </figcaption>
        <br>
        <em>-&nbsp;Eric Williams</em>
    </figure>

      <figure>
        <img src="../images/stephen.png" alt="">
        <br>
        <figcaption>
I love these clothes!! I love the fit!!! I love the price!!! I am on my 3rd order from you!! I too was skeptical because you were international.. My order was here within a week and when I pulled out the clothes and tried them on.. I was skeptical no more. Keep those high low tops coming and thank you for making mje look great at work!!!
        </figcaption>
        <br>
        <em>- &nbsp; Stephen Kuznetsov
</em> 
    </figure>

    
     
</section>
<div class="parent-button">
        <p>Check Out Our Catalog &nbsp; !</p>
        <a id="ahref-button" href="#"><input type="button" value="Shop Now"/></a>
    </div>
   
    {{!-- added background between image and footer because it left whitespace --}}
<div id="wrapAround-img-footer">
<img id="form-bg" src="../images/form-bg@2x.jpg" alt="">

    <section id="form-section">
        
        <h1>Get In Touch</h1>
        
        <form action="/message" method="post">
            <label id="name" for="name">Name: </label>
            <input id="name-field" type="text" name="name_field" value="">

            <label id="email" for="email">Email: </label>
            <input id="email-field" type="email" name="email_field" value="">

            <label id="message" for="message">Message: </label>
            <input id="message-field" type="text" name="message_field" value="">

            <input id="submit" type="submit" value="Send Message">
        </form>
    </section>
</div>
 
{{!-- <img id="underBanner" src="../images/UnderHeaderBG.png" alt=""> --}}
