<img id="banner" src="../images/Desktop_VS_CODE4@2x.jpg" alt="">
<div class="bg-before-testimonial">
    
    
<img class="second_icon" src="../images/male-icon.svg" alt="">
        <p>Since our opening, we have become masters of 
our craft. Our  commitment to quality products, 
exceptionalitiesl services and incomparable customer 
care keep our community coming back and back again.</p>
  
    <img class="second_icon" src="../images/email-icon.svg" alt="">
        <p>Be the first to know about our new product launches, 
 pre-launches, latest news and events by signing up 
for our newsletter.</p>

    <img src="../images/phone-icon.svg" alt="">
        <p>Positive reviews from awesome customers like you 
help others to feel confident about choosing 
Santana  La Familia too. Could you take 60 seconds to
 go to our contact section and share your happy 
experiences.</p>
</div>

<div class="bg-testimonial"></div>

    {{!-- added background between image and footer because it left whitespace --}}
<div id="wrapAround-img-footer">
<img id="form-bg" src="../images/form-bg@2x.jpg" alt="">


{{!-- <img id="underBanner" src="../images/UnderHeaderBG.png" alt=""> --}}
