html {
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

@font-face {
    src: url(fonts/Gabrialle.ttf);
    font-family: Gab;
}

@font-face {
    src: url(fonts/Montserrat-Regular.ttf);
    font-family: Mont;
}

 /************* Mobile *************/



html{
    box-sizing: border-box;
    font-size: 100%;
}

html, body{
    height: 100vh;   
}

body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
}

#banner{
   
    width:100vw;
    margin: 0;
}

#header-title{
    font-family: Mont;
    font-size: 2rem;
    position: absolute;
    top: 130px;
    left: 15%;
    white-space: nowrap;
    color: white;
    
}

#header-title::after{
    position: absolute;
    top: 50px;
    left: -35px;
    content: "";
   background-color: white;
   height: 1px;
   width: 440px;
}


#subheader-title{
    font-family: Mont;
    font-size: 1rem;
    position: absolute;
    top: 200px;
    left: 30%;
    color: white;
}

.bg-before-testimonial{
    background: #525E84;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding: 25px;
    width: 100vw;
    gap: 25px;
}


.bg-before-testimonial img{
    display: block;
    margin: auto;
    height: 70px;
    width: 70px;
}

.bg-before-testimonial figcaption {
    font-size: 0.85rem;
    font-family: Mont;
    color: white;
}



.bg-testimonial{
    background: #383B53;
    width: 100vw;
    padding: 25px;
    font-size: 1rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.bg-testimonial figure{
    background: #383B53;
    
    
}

.bg-testimonial img {
    display: block;
    margin: auto;
    height: 70px;
    width: 70px;
}

.bg-testimonial figcaption{
    color: white;
    font-family: Mont;
    font-size: 0.85rem;
}

.bg-testimonial em {
    color: white;
}

.parent-button {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #383B53;
    width: 100vw;
}



.parent-button p {
    font-family: Mont;
    font-weight: bold;
    color: white;
}

.parent-button input {
    font-family: Mont;
    font-weight: 700;
    color: white;
    background-color: #F3B340;
    border-radius: 60px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
}

.parent-button a {
    text-decoration: none;
    
}

.parent-button input:hover {
    cursor: pointer;
    height: 50px;
    width:212px
}





#wrapAround-img-footer{
    
    width: 100vw;
    position: relative;
    background: #383B53;
}

/* Get in Touch */
#wrapAround-img-footer h1{
    position: absolute;
    top: 0px;
    left:50px;
    color: white;
    font-size: 1.6rem;
    font-family: Mont;
    
    
}

/* Get in Touch Underlined */
#wrapAround-img-footer h1::after{
    content: "";
    position: absolute;
    top: 30px;
    left: -20px;
    background: white;
    height: 2px;
    width: 70vw;
    margin-left: 20px;
    margin-top: 15px;
}

#wrapAround-img-footer label {
    color: white;
    margin: 0;
}



 #name {
    position: absolute;
    top: 90px;
    left: 50px;
    font-family: Mont;
}

#name-field {
    position: absolute;
    top: 120px;
    left: 50px;
    font-size: 1rem;
    font-family: Mont;
    border-radius: 5px;
    height: 25px;
    width:200px
}



#email {
    position: absolute;
    top: 160px;
    left: 50px;
    font-family: Mont;
}

#email-field {
    position: absolute;
    top: 195px;
    left: 50px;
    font-size: 1rem;
    font-family: Mont;
    border-radius: 5px;
    height: 25px;
    width:200px
}



#message {
    position: absolute;
    top: 230px;
    left: 50px;
    font-family: Mont;
}

#message-field {
    position: absolute;
    top: 260px;
    left: 50px;
    font-size: 1rem;
    font-family: Mont;
    border-radius: 5px;
    height: 40px;
    width:200px;
}

#submit{
    position: absolute;
    top: 307px;
    left: 50px;
    border-radius: 5px;
    font-size: 0.9rem;
    font-family: Mont;
}

#submit:hover{
    color: red;
    height: 25px;
    width: 120px;
}



#form-bg{
    width:100vw;
    margin: 0;
    
}



footer{
    text-align: center;
    padding: 1.6rem;
    background: #383B53;
    margin-bottom: -50px;
    width: 100vw;
}




.footer__logo{
    color: white;
    font-family: Gab;
    font-size: 3.5rem;
}

.footer__social{
    margin-top: 20px;
}

.footer__social a {
    margin-left: 20px;
    margin-right: 20px;
}

.footer__social a img {
    height: 1.875rem;
    width: 1.875rem;
}

.footer__social a img:hover {
    height: 2rem;
    width: 2rem;
}

.footer__links a {
    color: #9D9D9D;
    margin:20px;
    font-family:Mont;
    font-size: 14px;
}

.col1 a{
    text-decoration: none;
   
}

.col1 a:nth-child(1),.col1 a:nth-child(2){
    display:none;
}



#col2_link1:hover{
    color: white;
}

#col2_link2:hover{
    color: white;
}

#col2_link3:hover{
    color: white;
}

.col2 a{
    display: block;
    text-decoration: none;
    
}

nav{
    z-index: 100;
}

.navbar-brand{
    font-family: Gab;
    color: #F084A7 !important;
    
    
   
}



    /************* Desktop *************/
    @media only screen and (min-width: 600px) {

        #header-title{
            font-family: Mont;
            font-size: 3rem;
            position: absolute;
            top: 320px;
            left: 30%;
            white-space: nowrap;
            color: white;
            
        }
        
        #header-title::after{
            position: absolute;
            top: 80px;
            left: -180px;
            content: "";
           background-color: white;
           height: 3px;
           width: 1000px;
           -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
        }
        
        
        #subheader-title{
            font-family: Mont;
            font-size: 1.6rem;
            position: absolute;
            top: 440px;
            left: 37%;
            color: white;
        }

        .bg-before-testimonial img{
            height: 120px;
            width: 120px;
        }
        
        .bg-before-testimonial{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
           grid-template-rows: auto;
           
        } 

        .bg-before-testimonial figcaption {
            font-size: 1rem;
        }



        .bg-testimonial img {
            height: 120px;
            width: 120px;
        }
        
        .bg-testimonial {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
        }

        .bg-testimonial figcaption {
            font-size: 1rem;
        }

        .bg-testimonial em {
            font-size: 1.2rem;
        }

        .parent-button p {
            font-size: 1.6rem;
        }

        .parent-button input {
            padding-left: 110px;
            padding-right: 110px;
            padding-top: 15px;
            padding-bottom: 15px;
            font-size: 1.3rem;
        }

        .parent-button input:hover {
            height: 65px;
            width:335px
        }

        
#wrapAround-img-footer{
    
    width: 100vw;
    position: relative;
    background: #383B53;
}

/* Get in Touch */
#wrapAround-img-footer h1{
    position: absolute;
    top: 30px;
    left: 40%;
    color: white;
    font-size: 2rem;
    
}

/* Get in Touch Underlined */
#wrapAround-img-footer h1::after{
    content: "";
   display: none;
}

#wrapAround-img-footer label {
    color: white;
    margin: 0;
}



 #name {
    position: absolute;
    top: 150px;
    left: 40%;
    font-family: Mont;
}

#name-field {
    position: absolute;
    top: 180px;
    left: 40%;
    font-size: 1rem;
    font-family: Mont;
    height: 40px;
    width: 350px;
    border-radius: 10px;
}



#email {
    position: absolute;
    top: 250px;
    left: 40%;
    font-family: Mont;
}

#email-field {
    position: absolute;
    top: 280px;
    left: 40%;
    font-size: 1rem;
    font-family: Mont;
    height: 40px;
    width: 350px;
    border-radius: 10px;
}



#message {
    position: absolute;
    top: 350px;
    left: 40%;
    font-family: Mont;
}

#message-field {
    position: absolute;
    top: 390px;
    left: 40%;
    font-size: 1rem;
    font-family: Mont;
    border-radius: 5px;
    width: 350px;
    height: 150px;
}

#submit{
    position: absolute;
    top: 560px;
    left: 40%;
    border-radius: 5px;
    font-size: 1rem;
    height: 40px;
    width: 180px;
    font-family: Mont;
}

#submit:hover{
    color: red;
    height: 40px;
    width: 175px;
}

        footer {
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            /* grid template areas allows you to write out where you want your columns at exactly */
            grid-template-areas: 
            "logo links1 links2 social"

        }

        .footer__logo{

            grid-area: logo;
        }

       .col1{

            grid-area: links1;

        }

        .col1 a:nth-child(1),.col1 a:nth-child(2){
            opacity: 0;
            display: block;
        }

        .col2{

            grid-area: links2;
        }


        .footer__social {

            grid-area: social;
        }

        .footer__social a img {
            height: 40px;
            width: 40px;
        }

        
      }

     