
html, body{
    margin:0;
    
}

#banner{
   
    width:100vw;
    margin: 0;
}

/* body{
    background: url("../images/SLF_logo_GirlfriendRoad.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
} */

/* #underBanner{
    position: absolute;
    top:870px;
    width:100vw;
} */

.bg-before-testimonial{
    background: #525E84;
    width: 100vw;
    height: 40vh;
}

.bg-testimonial{
    background: #383B53;
    width: 100vw;
    height: 70vh;
    
}

#form-bg{
    width:100vw;
    margin: 0;
}